*, body {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(0, 0, 0);
}
nav {
  background-color: rgba(4, 13, 18, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
  font-size: 20px;
}
nav div a {
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav div a:hover {
  color: rgb(214, 214, 214);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 58px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(214, 214, 214, 0);
}

nav ul li a:hover {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 3px;
}

.home {
  background-color: rgba(92, 131, 116, 1);
  justify-content: space-between;
  padding: 260px 80px;
  display: flex;
}

.home img {
height: 700px;
margin-right: 10rem;
}

.home .lall .l1 {
  color: white;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .lall .l2 {
  color: white;
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .lall .l3 {
  color: white;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .lall .l4 {
  color: white;
  font-size: 20px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}